<h2>{{title}}</h2>
<p>Welcome to {{title}}!</p>
<a href="/movies">View All Movies</a>
<a href="/movies/search/id">Search by Movie ID</a>
<a href="/movies/search/title">Search by Movie Title</a>
<a href="/viewData">Table View</a>
