<h2>{{title}}</h2>
<form method="POST" action="/movies/search/title">
    <input type="text" name="title" placeholder="Enter Movie Title">
    <input type="submit" value="Search">
</form>
<a href="/">Back to Home</a>