<h2>{{title}}</h2>
<form method="POST" action="/movies/search/id">
    <input type="text" name="id" placeholder="Enter Movie ID">
    <input type="submit" value="Search">
</form>
<a href="/">Back to Home</a>